<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/Bitcoin.ico" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/flat-ui/2.0/fonts/Flat-UI-Icons.dev.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <center>
        <a href="/" ><img src="/images/Bitcoin.png"></a>    
        <h1><%= title %></h1><p><%= phrase %></p></center>
    <script type="text/javascript" src="/javascripts/address.js"></script>
   <!-- <script type="text/javascript" src="/javascripts/transactions.js"></script> -->
    <center>
        <input type="text" name="WalletAddress" size="60"></input>
        <button id="search" class="btn btn-block btn-lg btn-primary">Find!</button>
        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <table class="table table-rounded ">
                    <tbody>
                        <tr>
                            <td class="no-wrap" id="Address"></td>
                            <td class="expand-column" id="btcAddress"></td>
                        </tr>
                        <tr>
                            <td class="no-wrap" id="Sent"></td>
                            <td class="expand-column" id="sent"></td>
                        </tr>
                        <tr>
                            <td class="no-wrap" id="Received"></td>
                            <td class="expand-column" id="received"></td>
                        </tr>
                        <tr>
                            <td class="no-wrap" id="Uncomfirmed"></td>
                            <td class="expand-column" id="uncomfirm"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title" id="Balance"></h2>
                        <h3 class="list-group-item-heading" id="balance"></h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>