<!--
  ____  _            _     ____  _                      ___ ___  
 | __ )| | ___   ___| | __/ ___|| |__   __ _ _ __ ___  |_ _/ _ \ 
 |  _ \| |/ _ \ / __| |/ /\___ \| '_ \ / _` | '__/ _ \  | | | | |
 | |_) | | (_) | (__|   <  ___) | | | | (_| | | |  __/_ | | |_| |
 |____/|_|\___/ \___|_|\_\|____/|_| |_|\__,_|_|  \___(_)___\___/ 

-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/Bitcoin.ico" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/flat-ui/2.0/fonts/Flat-UI-Icons.dev.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Analytics Script -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52831715-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!--End Google Analytics Script -->
  </head>
  <body>
  	<center>
  		<a href="/sms" ><img src="/images/Bitcoin.png"></a>    
        <h1><%= title %></h1><p><%= phrase %></p>
      	<br />
      	<br />
      	<center><strong>Coming Soon!</strong>

        <p class="text-nowrap text-center"><a href="/">Home</a></small></p></center>

  </body>
  </html>